@value EDDarkBlue, EDDarkRed, EDDarkYellow from "./colors.module.css";

.cardZone {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cardZoneBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cardZoneBoxes:hover > *:not(:hover),
.cardZoneBoxes:focus > *:not(:focus),
.cardZoneBoxes:active > *:not(:active) {
  opacity: 0.5;
}

.img {
  position: relative;
  width: fit-content;
  box-shadow: 0 5px 10px;
}

.cardZoneHighlight {
  position: absolute;
  display: none;
}

.showHighlight {
  display: block;
}

.cardZoneRed {
  border: 3px solid EDDarkRed;
}
.cardZoneBlue {
  border: 3px solid EDDarkBlue;
}
.cardZoneYellow {
  border: 3px solid EDDarkYellow;
}

.cardZoneSeq {
  height: 52.8px;
  width: 80px;
  top: 0;
  right: 16px;
}

.cardZoneRaS {
  height: 64px;
  width: 32px;
  top: 0;
  left: 16px;
}

.cardZoneRaS::after {
  content: "";
  position: absolute;
  height: 64px;
  width: 32px;
  top: 208px;
  left: 156.8px;
  border: 3px solid EDDarkBlue;
}

.cardZoneImg {
  height: 128px;
  width: 128px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
}
