@value tablet, laptop, desktop, desktop-l from "./breakpoints.module.css";

.card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-gap: 0;
  width: 23rem;
  height: 11rem;
  border-radius: 12px;
  box-shadow: 0 5px 10px;
}

.cardInfo > p {
  max-width: 85%;
}

.cardInfo {
  display: flex;
  grid-column: 1 / 5;
  grid-row: 1;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border: 1px solid grey;
  padding-inline: 1rem;
  border-radius: 12px;
  z-index: 1;
}

.cardTitle *,
.cardInfo > p {
  color: black;
}

.cardTitle {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.cardTitle h2 {
  font-size: 2rem;
  margin: 0;
}

.cardImgContainer {
  display: none;
}

.cardImg {
  position: relative;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.statIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.icon {
  position: relative;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.iconImage {
  position: relative;
}

.icon h4 {
  margin: 0;
  text-align: center;
  font-size: 1.05rem;
}

.alertCircle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 3rem;
  width: 3rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  font-size: 2rem;
  z-index: 2;
}

.alertCircleBoth {
  background-color: #d22027;
  border-color: #d22027;
}

.alertCircleComponent {
  background-color: #346ebf;
  border-color: #346ebf;
}

.alertCircleMapping {
  background-color: #e1ad12;
  border-color: #e1ad12;
}

.alertCircle > p {
  margin-top: 0.7rem;
}

@media (laptop) {
  .card {
    width: 27rem;
    height: 14rem;
  }
}

@media (desktop-l) {
  .cardInfo {
    grid-column: 2 / 5;
  }

  .cardImgContainer {
    display: block;
    position: relative;
    grid-column: 1 / 4;
    grid-row: 1;
    height: 100%;
    width: 40%;
    background-color: #d9d9d9;
    border-radius: 12px;
  }
}
