@value (
    EDDarkBlue,
    EDDarkRed, 
    EDDarkYellow, 
    paleRed,
    paleYellow,
    paleBlue,
    lightBlue,
    lightYellow,
    lightRed
  ) from "./colors.module.css";

.cardZoneBoxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

.cardZoneBox {
  position: relative;
  width: 20rem;
  min-height: 1rem;
  border-radius: 12px;
  box-shadow: 0 5px 10px;
  padding-left: 2rem;
  z-index: 25;
}

.cardZoneBox::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 12%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: 2px solid black;
}

.cardZoneRule {
  margin-bottom: 0.2rem;
}

.inactiveCardZone {
  opacity: 0.5;
}

.cardZoneRed {
  background-color: paleRed;
}

.cardZoneRed::before,
.cardZoneRedActive::before {
  background-color: EDDarkRed;
}

.cardZoneRedActive {
  background-color: lightRed;
}

.cardZoneBlue {
  background-color: paleBlue;
}

.cardZoneBlue::before,
.cardZoneBlueActive::before {
  background-color: EDDarkBlue;
}

.cardZoneBlueActive {
  background-color: lightBlue;
}

.cardZoneYellow {
  background-color: paleYellow;
}

.cardZoneYellow::before,
.cardZoneYellowActive::before {
  background-color: EDDarkYellow;
}

.cardZoneYellowActive {
  background-color: lightYellow;
}
