@value EDBlue from "./colors.module.css";

.filterMenuSliderSections,.filterMenuSections  {
  font-size: 1.25rem;
  font-weight: bold;
}

.filterMenuSections {
  margin-bottom: 0;
  padding-bottom: 0;
}

.checkboxes input:checked, .toggleButton {
  background-color: EDBlue;
  border-color: EDBlue;
}

.mappingSelect option:checked {
  background-color: EDBlue;
  color: white;
}
