.icon {
    position: relative;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }


  .iconImg {
    position: relative;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }

  .statIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }
  
.iconImg {
    position: relative;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
  }

  .icon h4 {
    margin: 0;
    text-align: center;
    font-size: 1.05rem;
  }