@value tablet, laptop, desktop from "./breakpoints.module.css";

.mainLayout {
  width: 100dvw;
  max-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPage {
}

.stackContainer {
  display: flex;
  justify-content: center;
}

.mainStack {
  max-width: 90%;
}

.searchArea {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 65%;
  align-self: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.filterButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  left: 5%;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  box-shadow: 0 3px 10px black;
  z-index: 100;
}

@media (laptop) {
  .cards > * {
    flex-basis: 49%;
    flex-shrink: 0;
  }
  /* fixed position right attribute not working for some reason */
  .filterButton {
    top: 5.5rem;
    left: 90%;
  }
  .cards {
    padding-inline: 4%;
  }
}

@media (desktop) {
  .cards {
    padding-inline: 12%;
  }
}
