.mainLayout {
  width: 100dvw;
  max-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPage {
}

.filterButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  left: 2rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  box-shadow: 0 3px 10px black;
}
