@value EDBlue from "./colors.module.css";

/**
* css for slider component
* from Sandra Lewis's tutorial with some changes to acccessibility and layout
* https://dev.to/sandra_lewis/building-a-multi-range-slider-in-react-from-scratch-4dl1
*/
.sliderContainer {
  position: relative;
}

.slider {
  position: relative;
  width: 85%;
  display: flex;
  align-items: center;
}

.sliderTrack,
.sliderRange {
  border-radius: 3px;
  height: 5px;
  position: absolute;
}

.sliderTrack {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.sliderRange {
  background-color: EDBlue;
  z-index: 2;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 85%;
}

.thumbZInd3 {
  z-index: 3;
}

.thumbZInd4 {
  z-index: 4;
}

.thumbZInd5 {
  z-index: 5;
}

.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #727577;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #727577;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  pointer-events: all;
  position: relative;
}

.thumb:focus {
  outline: none;
}

.thumb:focus::-webkit-slider-thumb {
  border: 1px solid black;
  outline: 1px solid #9fe5e1;
}

.thumb:focus::-moz-range-thumb {
  border: 1px solid black;
  outline: 1px solid #9fe5e1;
}

.sliderLeftVal,
.sliderRightVal {
  color: black;
  font-size: 1rem;
  margin-top: 20px;
  position: absolute;
}

.sliderLeftVal {
  left: 0rem;
  top: 0rem;
}

.sliderRightVal {
  right: 0rem;
  top: 0rem;
}
