@value tablet, tablet-l, laptop, desktop, desktop-l from "./breakpoints.module.css";
@value EDBlue from "./colors.module.css";

.header {
  margin-bottom: 7rem;
}

.navbar {
  width: 100dvw;
  max-width: 100%;
  padding: 0.2rem 4rem;
  background-color: EDBlue;
  position: fixed;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 0.2rem 0.4rem;
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  justify-content: center;
}

.container > div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;
}

.container h1 {
  margin-bottom: 0;
  justify-self: start;
  white-space: nowrap;
}

.container.hideTitle h1 {
  display: none;
}

.container > h2 {
  margin-bottom: 0;
  text-align: center;
  justify-self: end;
}

/* give title a smaller font if the title is 20 chars or more */
.titleSmall {
  font-size: 1.9rem;
}

/* give title an even smaller font at 30 chars */
.titleXSmall {
  font-size: 1.6rem;
}

.navbar > .container {
  justify-content: center;
}

.titleImage {
  margin-right: 12px;
}

@media (tablet) {
  .navbar > .container {
    justify-content: flex-start;
  }

  .container {
    grid-template-columns: 1fr 1fr;
  }

  .container.hideTitle h1 {
    display: block;
  }
}

@media (desktop-l) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container > h2 {
    justify-self: center;
  }
}
