@value tablet, tablet-l, laptop, desktop, desktop-l from "./breakpoints.module.css";
@value EDBlue, EDBlack from "./colors.module.css";

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background-color: EDBlue;
    left: 0;
    z-index: 0;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  .names,
  .git,
  .about
  {
    font-family: var(--font-alegreya);
    color: EDBlack;
    margin: 0;
    font-weight: bold;
  }

  .git,
  .about {
    text-decoration: none;
  }

 .git:hover,
 .about:hover {
    text-decoration: underline;
  }

  @media (tablet) {

  }
  