@value (
    EDDarkBlue,
    EDDarkRed, 
    EDDarkYellow, 
    paleRed,
    paleYellow,
    paleBlue,
    lightBlue,
    lightYellow,
    lightRed
  ) from "./colors.module.css";

.rulesSection {
  max-width: 100%;
  word-wrap: break-word;
}

.mainText h3 {
  font-size: 20px;
  font-weight: bold;
}

.para {
    white-space: pre-wrap;
    tab-size: 20px;
}

.keywordRed {
  color: EDDarkRed;
  font-weight: bold;
}

.keywordBlue {
  color: EDDarkBlue;
  font-weight: bold;
}

.keywordYellow {
  color: EDDarkYellow;
  font-weight: bold;
}

.keywordRed:hover {
    background-color: lightRed;
}

.keywordBlue:hover {
    background-color: lightBlue;
}

.keywordYellow:hover {
    background-color: lightYellow;
}