@value tablet, tablet-l, laptop, desktop, desktop-l from "./breakpoints.module.css";
@value (
    EDDarkBlue,
    EDDarkRed, 
    EDDarkYellow, 
    paleRed,
    paleYellow,
    paleBlue,
    lightBlue,
    lightYellow,
    lightRed
  ) from "./colors.module.css";

.rulesSection {
  max-width: 100%;
  word-wrap: break-word;
}

.mainText h3 {
  font-size: 20px;
  font-weight: bold;
}

.ruleSource {
  text-align: center;
  margin-bottom: 1.5rem;
}

.para {
  white-space: pre-wrap;
  tab-size: 20px;
}

.keywordRed,
.activeKeywordRed {
  color: EDDarkRed;
  font-weight: bold;
}

.keywordBlue,
.activeKeywordBlue {
  color: EDDarkBlue;
  font-weight: bold;
}

.keywordYellow,
.activeKeywordYellow {
  color: EDDarkYellow;
  font-weight: bold;
}

.activeKeywordRed {
    background-color: lightRed;
}

.activeKeywordBlue {
    background-color: lightBlue;
}

.activeKeywordYellow {
    background-color: lightYellow;
}



.warning {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 1rem;
  max-width: 100%;
  width: 95%;
  min-height: 10rem;
}

.mapWarn {
  border: 2px solid EDDarkYellow;
  background-color: paleYellow;
}

.warningTitle {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.warningTitle h3 {
  margin-bottom: 0;
}

.warningIcon {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warningIcon > p {
  margin-bottom: 0;
  color: white;
  font-size: 1.25rem;
}

.mapWarn .warningIcon {
  background-color: EDDarkYellow;
}

@media (tablet) {
  .ruleSource {
    text-align: right;
  }
}