@value (
    EDDarkBlue,
    EDDarkRed, 
    EDDarkYellow, 
    paleRed,
    paleYellow,
    paleBlue,
    lightBlue,
    lightYellow,
    lightRed
  ) from "./colors.module.css";

.rulesSection {
  max-width: 100%;
  word-wrap: break-word;
}

.mainText h3 {
  font-size: 20px;
  font-weight: bold;
}

.para {
    white-space: pre-wrap;
    tab-size: 20px;
}

.keywordRed,
.activeKeywordRed {
  color: EDDarkRed;
  font-weight: bold;
}

.keywordBlue,
.activeKeywordBlue {
  color: EDDarkBlue;
  font-weight: bold;
}

.keywordYellow,
.activeKeywordYellow {
  color: EDDarkYellow;
  font-weight: bold;
}

.activeKeywordRed {
    background-color: lightRed;
}

.activeKeywordBlue {
    background-color: lightBlue;
}

.activeKeywordYellow {
    background-color: lightYellow;
}