@value tablet, tablet-l, laptop, desktop, desktop-l from "./breakpoints.module.css";

.tableSection p {
  text-align: center;
}

.cardZoneBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.cardZoneBoxes:hover > *:not(:hover) {
  opacity: 0.5;
}

.table {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  justify-content: center;
}

@media (tablet-l) {
  .cardZoneBoxes {
    flex-direction: row;
  }
}
