@value tablet, tablet-l, laptop, desktop from "../../app/css/breakpoints.module.css";
@value EDBlue from "../../app/css/colors.module.css";

.mainLayout {
  overflow: hidden;
  width: 100dvw;
  max-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1rem;
  padding-bottom: 5rem;
}

.stackContainer {
  display: flex;
  justify-content: center;
}

.mainPage {
  width: 94%;
}

.mainStack {
}

.searchArea {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 65%;
  align-self: center;
}

.noCardsMessage {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  padding-top: 10%;
}


.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}

.cards > * {
  justify-self: center;
}

.filterButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  left: 5%;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  box-shadow: 0 3px 10px black;
  background-color: EDBlue;
  border: none;
  z-index: 100;
}

.filterMenuOffcanvas {
  background-color: EDBlue;
  font-family: var(--font-alegreya);
}

@media (tablet-l) {
  .cards {
    grid-template-columns: 1rem 1fr 1fr 1rem;
  }

  .cards > *:nth-child(odd) {
    grid-column: 2;
  }

  .cards > *:nth-child(even) {
    grid-column: 3;
  }
}

@media (laptop) {
  .cards {
  }
  /* fixed position right attribute not working for some reason */
  .filterButton {
    top: 5.5rem;
    left: 90%;
  }
  .cards {
    padding-inline: 4%;
  }
}

@media (desktop) {
  .cards {
    padding-inline: 12%;
  }
}
